/* Sidebar and Header Stylesheets Page 1*/
#sidebar {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0 #5D73A6, stop: 0.5 #45577D, stop:0.75 #394968, stop: 1 #31405B)
}
#dailyCalendarSymbol, #nutTrackerSymbol, #personalOverviewSymbol{
    fill: white;
}
#personalOverviewLabel{
    font: 14px solid 'Candara';
    color: #86C0ED;
}

#header{
    background: #586FA5;
    border: none;
}
#logoText{
    font: 18px solid 'Candara';
    color: #86C0ED;
}
#usernameLabel{
    font: 12px solid 'Candara';
    color: white;
    font-weight: bold;
}
#settingsButton {
    font: 20px solid;
    color: white;
    background: transparent;
}

/* Main Section Stylsheets */

QPushButton {
  background: transparent;
  border: none;
  color: #F0F0F0;
  padding: 3px;
  outline: none;
  /* Issue #194 - Special case of QPushButton inside dialogs, for better UI */
  min-width: 80px;
  font: 11pt 'Candara';
}
#personalOverviewButtonOn{
    background-color: #445776;
    border: 1px solid #86C0ED;
    font-size: 11 pt;
    color: #86C0ED;
}
#personalOverviewButtonOn:hover{
    background-color: #7798CE; /* Light Blue*/
    color: white;
}
.QPushButton:hover {
  background-color: #7798CE; /* Light Blue*/
  color: white;
}


#greyBackground{
    background: #EAEAEA;
}
#lineLogo{
    border: 2px solid rgba(255,255,255,0.3);
}
#lineOne, #lineTwo, #lineThree, #lineFour{
    border: 2px solid rgba(242, 238, 238, 0.05);
}
#userInfoBox, #bmiPercentileBox, #calorieIntakeBox {
    background-color: white;
    border-radius: 5px; /* Makes rounded corners */
    border: none;
    padding: 4px;
    width: 200px;
    height: 150px;
    box-shadow: 10px 10px 5px grey;
}
#userInfoHeader, #bmiPercentileHeader, #calorieIntakeHeader{
    font: 12pt 'Candara';
    color: #707070;
}
#lineBelowUserInfo, #aboveDaysExerciseDiv, #lineBelowExercise{
    border-color: #E2E2E2;
}
#personalLabel{
    font: 12pt 'Candara';
    color: #C3C3C3;

}
#inchesLabel, #poundsLabel, #feetLabel, #yearsLabel{
    font: 10pt 'Candara';
    color: #757575;
}
#weightShowBox, #ageShowBox{
    font: 14pt 'Candara';
    color: #757575;
}
#heightLabel, #ageLabel, #weightLabel, #genderLabel, #daysExerciseLabel {
    font: 10pt 'Candara';
    color: #6C6868;
}
#maleButton,#femaleButton{
    background-color: #F6F6F6;
    border: 1px solid rgba(112,112,112,0.5);
    border-radius: 5px;
    padding: 4px;
    padding-top: 48px;
    font: solid 'Candara';
    font-size: 14px;
    color: #7C7C7C;
}
#bmiPercentileChart{

}
#personalOverviewMain{
    font: 13pt 'Candara';
    color: rgba(102,99,99,1); /* Grey font */
}

QSlider::groove:horizontal {
border: none;
background: white;
height: 10px;
border-radius: 4px;
}

QSlider::sub-page:horizontal {
background: qlineargradient(x1: 0, y1: 0,    x2: 0, y2: 1,
    stop: 0 #BFD6F6, stop:1 #85B4F5);
background: qlineargradient(x1: 0, y1: 0.2, x2: 1, y2: 1,
    stop: 0 #BFD6F6, stop:1 #85B4F5);
border: none;
height: 10px;
border-radius: 4px;
}

QSlider::add-page:horizontal {
background: #fff;
border: 2px solid rgba(75,152,241,0.1);
border-radius: 4px;
}

QSlider::handle:horizontal {
background: #559BEB;
border: none;
width: 13px;
margin-top: -2px;
margin-bottom: -2px;
border-radius: 4px;
}

QSlider::handle:horizontal:hover {
background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
    stop:0 #BFD6F6, stop:1 #85B4F5);
border: none;
border-radius: 4px;
}

QSlider::sub-page:horizontal:disabled {
background: #bbb;
border-color: #999;
}

QSlider::add-page:horizontal:disabled {
background: #eee;
border-color: #999;
}

QSlider::handle:horizontal:disabled {
background: #eee;
border: none;
border-radius: 4px;
}
#calculateResultsButton{
    background-color: #A2C6F3;
    border-radius: 5px;
    border: none;
    font: 12px solid 'Candara';
    font-weight: bold;
    color: white;
}
#back_Button_Tracker{
    background-color: red;
}


/* StyleSheets Page 2 (Nutrition Tracker) */
/* -------------------------------------- */
#sidebar_2 {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0 #5D73A6, stop: 0.5 #45577D, stop:0.75 #394968, stop: 1 #31405B)
}
#dailyCalendarSymbol_2, #nutTrackerSymbol_2, #personalOverviewSymbol_2{
    fill: white;
}
#nutritionTrackerHeader{
    font: 13pt 'Candara';
    color: rgba(102,99,99,1); /* Grey font */

}
#header_2{
    background: #586FA5;
    border: none;
}
#logoText_2{
    font: 18px solid 'Candara';
    color: #86C0ED;
}
#usernameLabel_4{
    font: 12px solid 'Candara';
    color: white;
    font-weight: bold;
}
#settingsButton_4 {
    font: 20px solid;
    color: white;
    background: transparent;
}
#personalLabel_2{
    font: 12pt 'Candara';
    color: #C3C3C3;

}
/* Main Section Stylsheets */

QPushButton {
  background: transparent;
  border: none;
  color: #F0F0F0;
  padding: 3px;
  outline: none;
  /* Issue #194 - Special case of QPushButton inside dialogs, for better UI */
  min-width: 80px;
  font: 11pt 'Candara';
}
#personalOverviewButtonOn{
    background-color: #445776;
    border: 1px solid #86C0ED;
    font-size: 11 pt;
    color: #86C0ED;
}
#personalOverviewButtonOn:hover{
    background-color: #7798CE; /* Light Blue*/
    color: white;
}


#greyBackground_2{
    background: #EAEAEA;
}
#lineLogo_2{
    border: 2px solid rgba(255,255,255,0.3);
}
#lineOne_2, #lineTwo_2, #lineThree_2, #lineFour_2{
    border: 2px solid rgba(242, 238, 238, 0.05);
}
#lineBelowUserInfo_2, #aboveDaysExerciseDiv_2, #lineBelowExercise_2{
    border-color: #E2E2E2;
}
#personalLabel{
    font: 12pt 'Candara';
    color: #C3C3C3;

}
#heightLabel, #ageLabel, #weightLabel, #genderLabel, #daysExerciseLabel {
    font: 10pt 'Candara';
    color: #6C6868;
}
#personalOverviewMain{
    font: 13pt 'Candara';
    color: rgba(102,99,99,1); /* Grey font */
}

#back_Button_Tracker{
    background-color: red;
}
